* {
  background-color: #2f383e;
  border-color: #2e343f;
  text-color: #d3c6aa;
  spacing: 8px;
  width: 512px;
  height: 528px;
}

inputbar {
  border: 0 0 1px 0;
  children: [entry];
}

textbox {
  background-color: #2f383e;
  border: 0 0 1px 0;
  border-color: #3c474d;
  padding: 8px 16px;
}

entry {
  padding: 16px;
}

listview {
  cycle: false;
  margin: 0 0 -1px 0;
  scrollbar: false;
}

element {
}

element selected active {
  background-color: #87c095;
}
